<p align='center'>--</p>
<h2 align='center'>
<strong>Title:</strong>
<%= @article.title %>
</h2>

<p align='center'>
<strong>Text:</strong>
<%= @article.text %>
</p>

<p align='center'>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</p>