/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1
 {
     color:mediumvioletred;
     text-align:center;
 }

 h2
 {
     color:slateblue;
     text-align:center;
 }
 
 ul
 {
    text-align:left;
 }
 
 table
 {
     border-collapse:collapse;
     float:center;
     text-align: center;
     height: 50%;
     width: 50%;
     border:2px solid green;
 }
 
 body
 {
     background: url(background.jpg);
 }
 
 p
 {
     font-family:"Times New Roman";
     font-size:20px;
     text-align:center
 }

 a:link,a:visited
 {
     display:inline; 
     font-weight:bold;
     color:#FFFFFF;
     background-color:#60bf21;
     width:120px;
     text-align:center;
     padding:4px;
     text-decoration:none; 
 }

 a:hover,a:active
 {
     background-color:rgb(153, 119, 26);
 }
 